#Audio-container {
  display: flex;
  justify-content: center;
}
#login_form {
  width: fit-content;
  margin-left: 275px;
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

#login_form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

#login_form input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

#login_form button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.navbar {
  background-color: rgb(39, 39, 39);
  align-items: center;
  color: white;

  padding: 5px 10px;
  border-bottom: 1px solid grey;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar h1 {
  margin-right: 10px;
  cursor: pointer;
}
.navbar h1:hover {
  color: lightblue;
}

.navbar button:hover {
  background-color: grey;
  color: black;
}
.navbar button {
  display: inline-block; /* Make the button inline with other navbar elements */
  padding: 10px 20px; /* Add padding to the button */
  background-color: #007bff; /* Set the background color of the button */
  color: #fff; /* Set the text color of the button */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius to make the button rounded */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Add transition effect for smoother hover */
}

/* Button hover effect */
.navbar-btn:hover {
  background-color: #0056b3; /* Change background color on hover */
}

#sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 250px;
  position: absolute;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: whitesmoke;
  left: 10px;
}

#sidebar ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  margin-top: 0;
}
#chatroomlist {
  display: flex;
  justify-content: center;
  margin-left: 0;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}
.card {
  background-color: whitesmoke;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: fit-content;
  transition: box-shadow 0.3s;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
}
.card:hover {
  cursor: pointer;
}

#search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#searchbar {
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  width: 200px;
  transition: all 0.3s ease;
}
#chat-container {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}
#chat-list {
  list-style: none;
  border-radius: 10px;
  border: 2px solid #000000; /* Black border */
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 500px; /* Set maximum height to enable scrolling */
  width: 70vw;
}

#chat-list li {
  background-color: #dcf8c6;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 5px 0;
  max-width: 70%;
}
#chat-list h1 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
#chat-input {
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #cccccc; /* Light gray border */
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  flex: 1; /* Take remaining space */
}

#chat-input:focus {
  outline: none;
  border-color: #007bff; /* Blue border when focused */
}
#submit {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
  width: fit-content;
  margin-left: 10px;
}
#submit:hover {
  background-color: #45a049; /* Darker green on hover */
}
#form-container {
  display: flex;
  display: inline;
}
