#Audio-container{
  display: flex;
  justify-content: center;
}
#newform {
  width: fit-content;
  margin-left: 275px;
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

#newform label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

#newform input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

#newform button {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}